<div class="container">

  <div class="distribution">
    <div>
      <header class="header-container">
        <h2>Little Presentation</h2>
      </header>

      <body class="body-container">
      <h3>Title</h3>
      <label>Description</label>

      </body>
    </div>

    <div class="flip-container">
      <div class="flipper">
        <img src="https://avatars.githubusercontent.com/u/74932387?v=4" alt="Profile Picture" class="front"/>
        <img src="https://avatars.githubusercontent.com/u/9921954?v=4" alt="Alternative Picture" class="back"/>
      </div>
    </div>
  </div>


</div>
