//*{
//  border: 1px solid red;
//}

:host {
  --card-border-color: #74777f;
  --card-background-color: white;
}

.container {
  padding: 1%;
  margin: 1%;
  border-radius: 12px;
  width: 75%;
}

.distribution{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.header-container{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-bottom: 0%;
}

.header-container h2{
  padding-inline: 1%;
  margin-block: 0.5%;
  font-size: 2vw;
}

.body-container{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 0%;
}

.body-container h3{
  margin-block: 1%;
}





.flip-container {
  width: 120px;
  height: 120px;
  perspective: 1000px;
  border-radius: 50%;
  overflow: hidden;
}

.flipper {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.front, .back {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 50%;
}

.front {
  z-index: 2;
}

.back {
  transform: rotateY(180deg);
}

.flip-container:hover .flipper {
  transform: rotateY(180deg);
}




