<div class="container">

  <div class="distribution">
    <div>
      <header class="header-container">
        <h2>Project Title</h2>
        <h2>-</h2>
        <h2>Client</h2>
      </header>

      <body class="body-container">
      <h3>Client</h3>
      <label>Description</label>

      <div>
        Carrousel
      </div>
      </body>
    </div>

    <div class="flip-container">
      <div class="flipper">
        <img src="https://avatars.githubusercontent.com/u/74932387?v=4" alt="Frontal" class="front"/>
        <img src="https://avatars.githubusercontent.com/u/9921954?v=4" alt="Reverso" class="back"/>
      </div>
    </div>
  </div>


</div>
