
<section>
  <label class="title-section">Presentation</label>
  <app-card class="card-container"></app-card>
</section>

<section>
  <label class="title-section">About me section</label>
</section>

<section>
  <label class="title-section">Proyectos</label>
  <app-projects class="card-container"></app-projects>
  <app-projects class="card-container"></app-projects>
</section>

<section>
  <label class="title-section">Skills</label>
</section>

<section >
  <label class="title-section">Certificates</label>
  <div class="middle">
    <app-certificates class="certificates-container"></app-certificates>
    <app-certificates class="certificates-container"></app-certificates>
    <app-certificates class="certificates-container"></app-certificates>
    <app-certificates class="certificates-container"></app-certificates>
  </div>
</section>

<section>
  <label class="title-section">Contact</label>
</section>

<router-outlet/>
