.card-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.certificates-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding-inline: 3%;
}

.middle {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.title-section {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 1%;
  font-weight: bold;
}
